{% load posts_tags %}
<div class="card mb-3 mt-1 shadow-sm">

  {% load thumbnail %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
  <img alt="Изоображение" class="card-img" src="{{ im.url }}" />
  {% endthumbnail %}
  <div class="card-body">
  <h3>{{ post.title }}</h3>
  <div class="d-flex">
      <a href="{% url 'profile' post.author.username %}" class="mr-auto">
        <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
      </a>
      {% if not post_page %}
       <a class="btn btn-sm btn-primary" href="{% url 'post' post.author.username post.id %}" role="button">
          Читать
        </a>
      {% endif %}
        {% if request.user.is_authenticated and request.user != post.author%}
            {% is_viewed request.user post as viewed %}
            {% if not viewed %}
                <form action="{% url 'mark_as_read' post.author.username post.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                     <button class="btn btn-sm btn-primary ml-1" type="submit">
                        Отметить как прочитанный
                     </button>
                </form>
            {% else %}
            <button class="btn btn-sm btn-primary ml-1" disabled>Прочитано</button>
            {% endif %}
        {% endif %}

        {% if post_page %}

        {% endif %}
  </div>
    <p class="card-text">
        {% if post_page %}
            {{ post.text|safe|linebreaksbr }}
        {% else %}
            {{ post.text|slice:":200"|safe|linebreaksbr }}
        {% endif %}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">


        <a class="btn btn-sm btn-primary" href="{% url 'add_comment' post.author.username post.id %}" role="button">
          Добавить комментарий
        </a>

        {% if request.user == post.author %}
        <a class="btn btn-sm btn-info" href="{% url 'post_edit' post.author.username post.id %}" role="button">
          Редактировать
        </a>
        {% endif %}
      {% if post.comments.exists %}
        <div class="ml-4">
            Комментариев: {{ post.comments.count }}
        </div>
        {% endif %}
      </div>

      <small class="text-muted">{{ post.pub_date }}</small>
    </div>
  </div>
</div>